/build*
*~
.*.swp
*.pyc
.cproject
.project
.settings/

/d3xp/ReleaseDLL/*
/game/InlineDebugMemoryDLL/*
/game/ReleaseDLL/*
/idlib/InlineDebugMemoryDLL/*
/idlib/ReleaseDLL/*
/base.dir/*
/d3xp.dir/*
/d3xp.xcodeproj/*
/game.xcodeproj/*
/idlib.xcodeproj/*
/coop.dir/*
/Debug/*
/Release/*
/ReleaseDLL/*
/ReleaseDLLD3XP/*
/Win32/*
/dhewm3ded.dir/*
/dhewm3.dir/*
/idlib.dir/*
/_UpgradeReport_Files/*
*.sdf
*.vcxproj
*.sln
*.old
*.exe
*.bin
*.dll
*.obj
*.lib
*.pdb
*.idb
*.ipch
/cstd3le/.vs/*